* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100px;
}


.esquerda {
    width: 50%;
    height: 500px;
    background-image: url('');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda img {
    width: 235px;
}


.logo {
    border: 2px solid #09f;
    padding: 8px;
    color: #064d3e;
    font-size: 30px;
}

.logo span {
    color: #008f5a;
}

.logo p {
    margin: 3px 0 0;
    color: #008f5a;
    font-size: 20px;
}

.direita {
    width: 50%;
    padding: 125px 27px;
}

h1 {
    text-align: center;
    color: #07864f;
    font-size: 20px;
    margin: 0;
}

.direita p {
    text-align: center;
    color: #777;
    font-size: 11px;
    margin-bottom: 18px;
}

label {
    display: block;
    color: #00864e;
    font-size: 11px;
    font-weight: bold;
    margin-top: 8px;
}

input {
    width: 100%;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

button {
    width: 100%;
    height: 25px;
    margin-top: 13px;
    border: 0;
    border-radius: 5px;
    background: #07864f;
    color: white;
    font-size: 8px;
    font-weight: bold;
}